.advice-polosa {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 10vh;
    background-color: #91A75F;
}
.advice-title {
    display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	color: #F7F4F2;
	font-size: 24px;
	font-weight: 700;
}
.advice-title-2 {
    display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	color: #543A29;
	font-size: 24px;
	font-weight: 700;
}
.advice-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #D3CCC7 !important;
    width: 75vw;
    height: 15vh;
    transition: all 0.3s ease;
}
.advice-button-3 {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #D3CCC7 !important;
    width: 75vw;
    height: 15vh;
    transition: all 0.3s ease;
}
.advice-button:hover,
.advice-button:focus {
    background-color: #a39f9d !important;
    transition: all 0.3s ease;
}