.div-container {
    padding: 80px 0px 80px 0px;
}
.question {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #543A29;
    margin-top: 15%;
    font-size: 24px;
    font-weight: 600;
}
.question-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #543A29;
    margin-top: 15%;
    font-size: 24px;
    font-weight: 600;
}
.button-general {
    width: 200px;
    border: 3px solid #97918c;
    border-radius: 20px;
    background-color: #F7F4F2;
    color: black;
    transition: all 0.4s ease;
}
.button-general:focus {
    border: 3px solid #ED7E1C;
    transition: all 0.4s ease;
}
.button-next {
    width: 120px;
    height: 40px;
    border-radius: 20px;
}
.mood {
    display: block;
    width: 202px;
    height: 268px;
    border: none;
    fill: none;
    background-image: url('../img/Mood.svg');
    background-repeat: no-repeat;
    background-size: cover;
}
.mood-plus-button {
    background-color: #91A75F;
    border-radius: 30px;
    padding: 10px;
}