.div-screen {
    background-color: #543A29 !important;
}
.Logo-button {
    position: relative;
    width: 70px;
    height: 72px;
    fill: #4F3422;
    border-radius: 15px;
    background-color: #D3CCC7;
    background-image: url('../img/Logo.svg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 20px;
}